<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://bootswatch.com/5/pulse/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>LogIn</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <img src="/images/imgblogo.jpg" width="50" height="50">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto" id="menu-nav">
          <li class="nav-item">
            <a class="nav-link" href="/">Accueil
              <!-- <span class="visually-hidden">(current)</span> -->
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/recette/post">Poster</a>
          </li>
          <!--<li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>-->
        </ul> 
        <form class="d-flex">
            <button type="button" id="register" class="btn-sm btn-secondary me-4"><a href="/user/register">S'inscrire</a></button>
            <button type="button" id="connection" class="btn-sm btn-secondary"><a href="/user/login">Se connecter</a></button>
        </form>
      </div>
    </div>
  </nav>