<%- include('./partials/header'); -%>
      <form id="recette-form" method="POST" enctype="multipart/form-data" action="http://localhost:5000/recette/post">
        <fieldset>
          <div class="form-group">
            <label for="titre" class="form-label mt-4">Titre</label>
            <input type="text" class="form-control larg" name="titre" id="titre" aria-describedby="titleHelp" placeholder="Titre de la recette">
            <small id="emailHelp" class="form-text text-muted"></small>
          </div>
          <div class="form-group">
            <label for="user" class="form-label mt-4">Postée par</label>
            <input type="text" class="form-control larg" name="user" id="user" aria-describedby="userHelp" placeholder="Auteur">
            <small id="userHelp" class="form-text text-muted"></small>
          </div>
          <div class="form-group">
            <label for="ingredients" class="form-label mt-4">Ingrédients</label>
            <textarea class="form-control larg" name="ingredients" id="ingredients" rows="4"></textarea>
          </div>
          <div class="form-group">
            <label for="preparation" class="form-label mt-4">Prépartion</label>
            <textarea class="form-control larg" name="preparation" id="preparation" rows="7"></textarea>
          </div>
          <div class="form-group">
            <label for="image" class="form-label mt-4">Image</label>
            <input class="form-control larg" type="file" id="image" name="image">
          </div>
          <button type="submit" id="envoyer" class="btn btn-primary mt-4">Poster</button>
        </fieldset>
      </form>
    <script type="text/javascript" src="/js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
<%- include('./partials/footer'); -%>