<%- include('./partials/header'); -%>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Titre recette</h5>
          <h6 class="card-subtitle mb-2 text-muted">Postée par </h6>
          <p class="card-text">recette</p>
        </div>
      </div>
    <script type="text/javascript" src="/js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
<%- include('./partials/footer'); -%>