#recette-form, #register-form, #login-form{
        display: flex;
        justify-content: center;
}

.center-link{
    text-align: center;
}

.center-img{
    text-align: center;
}

#menu-nav{
    margin-left: 60%;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.text-color{
    color: #FFF;
}

.contain{
    margin-top: 8%;
}

.recette{
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

.card-size{
    margin-top: 5%;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

.titre-2{
 text-align: center;
}

.input-size{
    width: 350px;
}